<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>275302342917-hct698b0cgjkk8m2ec96kbibsm7j32f3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.275302342917-hct698b0cgjkk8m2ec96kbibsm7j32f3</string>
	<key>API_KEY</key>
	<string>AIzaSyCoiV_Zaa5aUv_-ZniIeOC0TbgvE36jCEE</string>
	<key>GCM_SENDER_ID</key>
	<string>275302342917</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>crossgrove.com.bananagrams</string>
	<key>PROJECT_ID</key>
	<string>bananagramsapp</string>
	<key>STORAGE_BUCKET</key>
	<string>bananagramsapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:275302342917:ios:d6722ba73b1cadf5c7d76c</string>
</dict>
</plist>